/*
Creative Commons
*/
/* 
    Created on : 07-jun-2014, 22:52:57
    Author     : Mitosu
*/

.foto_creditos{
    text-align: center;
    text-justify: auto;
}

.foto_creditos img{
    width: 100px;
    height: 163px;
}

