

/* ==========================================================================
   GymNastic Custom Styles
   ========================================================================== */

body {
    background: url(../img/gym/login/gimnasio.jpg) no-repeat fixed center center #333;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.titulo_login{
    color: #ffffff;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 700;
}

.h2_id{
    background-color: rgb(4,111,166); opacity: 0.5;
    padding: 5px;
    text-align: center;
}

//--------------------------------------------------------------
.style{
    background-color: #E7E7E7;
}

.container-content{
    background-color: #ffffff;
}

.container-aplication{
    background-color: #999999;
    //min-height: 600px;
}

#text_zona_clientes{
    color: #ffffff;
}

.text_box_home{
    text-align: justify;
}

.img_box_home{
    display: block;
    text-align: center;
}

.img_center{
     padding: 1em 3em; margin: 1em 25%;
}

.labels-forms{
    text-align: center;
}

option{
    color: #000;
}

#txtnacionalidad{
    visibility: hidden;
}

#lblnacionalidad{
    visibility: hidden;
}

.boxpictures{
    min-height: 190px;
    margin-left: 4px;
    margin-top: 4px;
}

video{
    max-width: 262px;
    max-height: 190px;
}

#pic{
    max-width: 262px;
    max-height: 190px;    
}


