/* 
    Created on : 27-abr-2014, 13:33:47
    Author     : Mitosu
*/
.style{
    background-color: #E7E7E7;
}

.container-content{
    background-color: #ffffff;
}

.container-aplication{
    
}

#text_zona_clientes{
    color: #ffffff;
}

.text_box_home{
    text-align: justify;
}

.img_box_home{
    display: block;
    text-align: center;
}

.img_center{
     padding: 1em 3em; margin: 1em 25%;
}

.labels-forms{
    text-align: center;
}

option{
    color: #000;
}

#txtnacionalidad{
    visibility: hidden;
}

#lblnacionalidad{
    visibility: hidden;
}

.boxpictures{
    min-height: 190px;
    margin-left: 4px;
    margin-top: 4px;
}

video{
    max-width: 262px;
    max-height: 190px;
}

#pic{
    max-width: 262px;
    max-height: 190px;    
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#without-camera{
    visibility: hidden;
}

#fotos_salas{
    min-height: 300px;
}

#dg{
    min-height: 300px;
}

#ficha{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#dni_ficha{
    font-size: large;
    font-weight: bold;
}

.irrelevante{
    font-size: 18px;
}

.relevante{
    font-size: 21px;
    font-weight: bold;
}

.celda_doble{
    text-align: center;
    text-justify: auto;
}

.mensajes{
    font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 18px;
}